body { /*  this will style the background and the font */
    background-color: #282b30;
    font-family: Arial, Helvetica, sans-serif;
}

#formerslogo { /*  this will set the size of my logo to be suitable */
    width: 20%;
}

h2 { /*  this will style any heading h2 type */
    color:#8f301b;
}

.content { /*  this will style the class of items called "content" which is paragraphs*/
    color:#a34e08;
}

.linkbox{ /*  this will style the class of items called "linkbox" which is part of my menu bar*/
    background-color: #dba20f;
}

.linkbox:hover{ /*  this will style linkbox when a cursor is over it*/
    background-color: #a34e08;
}

.autolog {
    width: 40px
}

td {
    padding: 5px;
}

#autobots{
    tr:hover {
        background-color: #8f301b;
    }
}

#decepticons{
    tr:hover {
        background-color: #0c0575;
    }
}